.car_display_item:hover {
  scale: initial !important;
}

.car_information {
  margin-top: 7em;
  display: flex;
  width: 100%;
  height: 600px;
  align-items:flex-start;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.car_details-top {
  font-size: 3em;
}

.get_started {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.get_started > h3 {
  font-size: 1.5em;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.navigation_btn {
  width: 200px;
  margin-left: 1em;
  height: 50px;
  font-family: inherit;
  border-radius: 10px;
}

.test_drive {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  outline: none;
  border: none;
  font-size: 1.5em;
}

.test_drive:hover {
  cursor: pointer;
}
