.car_display_item:hover {
  scale: initial !important;
}

.car_information {
  margin-top: 7em;
  display: flex;
  width: 100%;
  height: 600px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--main-text-color);
  z-index: 1;
}

.car_background{
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: -1;
}

.car_background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car_details_top {
  font-size: 3em;
  
}

.car_details_top, .car_details_bottom {
  transition: all 0.2s ease-in;
}

.detailed_nav_options{
  position: sticky;
  width: 100%;
  top: 0;
  background: rgb(220, 217, 217);
}

.get_started {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.get_started > h3 {
  font-size: 1.5em;
}

.navigation_btn {
  width: 200px;
  margin-left: 1em;
  height: 50px;
  font-family: inherit;
  border-radius: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.page__details{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
  font-size: 1.7em;
  height: 100px;
}

.page__details > a {
  text-decoration: none;
  color: var(--main-text-color);
  transition: all 0.2s ease-in;
}

.page__details > a:hover{
  color: var(--main-text-hover);
}

.test_drive {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  outline: none;
  border: none;
  font-size: 1.5em;
}

.test_drive:hover {
  cursor: pointer;
}
