.filter_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter_options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1em;
}

.filter_option_container{
    margin-left: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.filter_option_container > input:hover{
    cursor: pointer;
}

.filter_option_title{
    margin-bottom: 1em;
}

.filter_select_container{
    display: flex;
    gap: 1em;
}


.filter_select_container > select {
    width: 200px;
}

.filter_select_container > select:hover{
    cursor: pointer;
}

.filter_option_container > select > option:hover{
    cursor: pointer;
}


.price_range_nums, .price_range_title{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px){
    .filter_container{
        display: none;
    }
}