.car_search_type_selection {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;
  width: 600px;
}

.landing_page {
  display: flex;
  flex-direction: column;
}

.landing_search_title {
  font-size: 4em;
  color: rgb(252, 249, 249);
}

.landing_search > div > input {
  width: 600px;
  height: 50px;
  font-family: inherit;
  padding-left: 3em;
  border-radius: 10px;
}

.landing_search > div > button {
  height: 50px;
  width: 60px;
  cursor: pointer;
  margin-left: 10px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;;
  background-color: rgb(105, 108, 108);
}

.search_icon {
  position: relative;
  top: 10px;
  font-size: 2em;
  left: 35px;
}

@media only screen and (max-width: 715px) {
  .car_search_type_selection {
    flex-direction: column;
    width: 100vw;
    gap: 5px;
  }

  .landing_search > div > input {
    width: 100vw;
    border-radius: 0;
  }

  .landing_search > div > button {
    width: 100vw;
    margin-left: 0;
    border-radius: 0;
  }

  .landing_search > div {
    flex-direction: column;
  }

  .search_icon {
    display: none;
  }
}
