
.highlight{
    display: flex;
    width: 300px;
    min-height: 50px;
    padding: 1em;
    text-align: center;
    border: 1px solid var(--main-text-color);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 850px){
    
.highlight > h3 {
   font-size: 1em;   
}
}