.purchase_options{
    margin-top: 4em;
    display: flex;
    align-self: center;
    padding: 1em;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-align: center;
    width: 700px;
    background: rgb(233, 235, 238);
    /* border: 3px solid var(--main-text-color); */
}



.option_title{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: all 0.2s ease-in;
    font-size: 2em;
}

.option_info{
    font-size: 1em;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

@media only screen and (max-width: 800px){
    .purchase_options{
        flex-direction: column;
        width: 100vw;
    }
}