.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    width: 100vw;
}

.search > input {
    width: 100%;
    height: 50px;
    margin: 1em;
    padding-left: 1em;
    font-family: inherit;
}

.filter_options_icon{
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    
    .filter_options_icon{
        display: block;
        font-size: 3em;
    }
    
    .search {
        align-self: center;
       width: 100vw;
    }


}