.car_display_item{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 400px;
    height: 400px;
}

.img_container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}