.owner_review_car_title{
    margin-top: 10px;
    margin-bottom : 1em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.owner_verified{
    margin-top: 10px;
    display: flex;
    align-items: center;
    
}

.owner_comment {
    margin-top: 10px;
    
}

.reviews{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}