.close{
 position: relative;
 left: 45%;
 font-size: 2em;
 cursor: pointer;
 transition: all 0.3s ease-in;
 
}

.close:hover{
    color: var(--main-text-hover);
}

.input_container {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.input_container > input {
  width: 420px;
  height: 60px;
  padding-left: 30px;
  font-size: 1em;
  background: rgb(233, 238, 233);
}

.modal_container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 7, 7, 0.8);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
}

.review_modal {
  position: fixed;
  right: 0;
  width: 500px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  height: 100%;
  background: #fff;
}

.review_car_name {
  font-weight: 500;
  margin-bottom: 1em;
}

.review_total {
  display: flex;
  justify-content: space-between;
}

.padding_left {
  padding-left: 2em;
}

.review_main_title_container {  
  width: 100%;
  text-align: center;
  box-shadow: -1px 7px 7px 0px rgba(157, 157, 157, 0.75);
  -webkit-box-shadow: -1px 7px 7px 0px rgba(157, 157, 157, 0.75);
  -moz-box-shadow: -1px 7px 7px 0px rgba(157, 157, 157, 0.75);
}

.review_main_title {
  font-weight: 400;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.review_comment {
  margin-top: 10px;
}

.review_name {
  font-weight: 700;
}

.review_location {
  font-weight: 400;
  font-style: italic;
}

.review_verified_date {
  margin-top: 10px;
}

#search_icon {
  position: relative;
  left: 45px;
  font-size: 1em;
}

.sort_by {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.sort_by_icon{
    cursor: pointer;
}