.main_nav{
    display: flex;
    gap: 1em;
    width: 100vw;
    align-items: center;
    height: 60px;
    background: var(--main-text-color);
    /* border-top: 10px solid rgb(71, 152, 238); */
    /* background: linear-gradient(rgb(246, 242, 242), rgb(235, 230, 235)); */
    
}

.main_nav > div {
    margin-left: 1em;;
}

.main_nav > .brand > a{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.main_nav > div > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    transition: 0.2s ease-in;
}

.main_nav > div > a:hover{
    color: var(--main-text-hover);
}