* {
  margin: 0;
  box-sizing: border-box;
}

body {
  --main-text-color: rgb(24, 53, 88);
  --main-text-hover: rgb(119, 195, 239);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hover:hover{
  cursor: pointer;
  color: var(--main-text-hover);
}

.large {
  width: 50vw;
}

.centered {
  margin-top: 7em;
  align-items: center;
  justify-content: center;
}

.section-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
