* {
  margin: 0;
  box-sizing: border-box;
}

.background_1 {
  background: linear-gradient(rgb(136, 200, 243), rgb(142, 188, 226));
}

body {
  --main-text-color: rgb(24, 53, 88);
  --main-text-hover: rgb(119, 195, 239);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgb(255, 254, 254);
}

.border_1 {
  border-radius: 5px;
  border: 1p solid black;
}

.button_type {
  margin-top: 1em;
  height: 40px;
  font-size: 1em;
  font-family: inherit;
  color: var(--main-text-color);
  border: none;
  outline: none;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.button_type:hover {
  color: var(--main-text-hover);
  cursor: pointer;
}

.card_title,
.card_price {
  margin-bottom: 1em;
  
}

.card_title{
  height: 50px;
  /* border-bottom: 1px solid rgb(144, 140, 140); */
}

.card_price {
  height: 100px;
}

.centered {
  
  align-items: center;
  justify-content: center;
}

.container_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  border-radius: 10px;
  padding: 1em;
  background-color: #fffefe;
}

.card_default_height{
  height: 500px;
}

.details_title {
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.hidden{
  display: none;
}

.hover:hover {
  cursor: pointer;
  color: var(--main-text-hover);
}

.highlight_title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.highlight_title:hover {
  color: var(--main-text-hover);
}

.large {
  width: 50vw;
}

.margin_t5{
  margin-top: 5em;
}

.main_text_color {
  color: var(--main-text-color);
}

.main_text_color:hover {
  color: var(--main-text-hover);
}

.alt_text_color {
  color: var(--main-text-color);
}

.alt_text_color:hover {
  color: #fff;
}

.self_align_center{
  align-content: center;
  justify-content: center;
}

.section-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.section-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.section_title {
  margin-bottom: 1em;
  font-size: 1.7em;
}


.transition_effect {
  transition: all 0.3s ease-in;
}

.underline {
  text-decoration: underline;
}


@media only screen and (max-width: 850px){
  .section-row{
    flex-direction: column;
  }
}